:root {
  --color-bg: white;
  --color-text: black;
}

@media (prefers-color-scheme: dark) {
  [theme="dark"] {
    color-scheme: dark;
    --color-bg: black;
    --color-text: hsl(0 0% 100%);
  }
}

[theme="dark"] {
  color-scheme: dark;
  --color-bg: black;
  --color-text: hsl(0 0% 100%);
}
