.beni {
  height: 400px;
  width: 400px;
}

a {
  border: 1px solid var(--color-text);
  padding: 10px 20px;
  border-radius: 200px;
  font-size: 18px;
  margin-top: 1lh;
  color: var(--color-text);

  &:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
  }
}
