.beni {
  height: 400px;
  width: 400px;
}

a {
  border: 1px solid currentColor;
  padding: 10px 20px;
  border-radius: 200px;
  font-size: 18px;
  margin-top: 1lh;
  color: #000;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}
